@font-face {
    font-family: 'kindergarten';
    src: url(/assets/fonts/kindergarten.ttf);
}

* {
    background-color: black;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100%;
}

.tittle-container {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 30px;
}

.logo-head {
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

#name-head {
    font-family: 'kindergarten';
    font-size:2.5em;
    color: white;
    margin-left: 10px;    
}